files:
  "/tmp/99-alertlogic.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      *.* @@127.0.0.1:1514

commands:
   01ConfSyslog:
    command: sudo cp /tmp/99-alertlogic.conf /etc/rsyslog.d/
    test: '[ ! -e /etc/rsyslog.d/99-alertlogic.conf ]'
   02RestartSyslog:
    command: sudo service rsyslog restart
